<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script src="res/push.js"></script>
    <script type="text/javascript">
        if (/Android|webOS|iPhone|iPod|iPad|Windows Phone|BlackBerry|Mobile/i
            .test(navigator.userAgent)) {
            var url = window.location.pathname + window.location.search;
            window.location.href = 'https://m.sq688.com' + url;
        }
    </script>
    <link rel="shortcut icon" type="image/ico" href="https://www.sq688.com/favicon.ico">
    <meta name="applicable-device" content="pc">
    <meta name="mobile-agent" content="format=html5;url=https://m.sq688.com/register">
    <link rel="alternate" media="only screen and(max-width: 800px)" href="register.html">
    <title>用户注册_无损音乐下载_FLAC_WAV_APE_DSD_SQ688_超高无损音乐</title>
    <meta name="keywords" content="用户注册,无损音乐下载,FLAC,WAV,APE,DSD,SQ688超高无损音乐">
    <link rel="stylesheet" type="text/css" href="res/main.css">
    <link rel="stylesheet" type="text/css" href="res/font-awesome.css">
    <script type="text/javascript" src="js/axios.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="js/Popup.js"></script>
    <script type="text/javascript" src="res/clipboard.js"></script>

</head>
<body>
<div id="header" class="header">
    <div class="warp">
        <div class="logo">
            <h1>超高无损音乐</h1>
        </div>
        <ul class="menu">
            <li><a href="https://www.sq688.com/" class="cur">首页</a></li>
            <li><a href="https://www.sq688.com/singer/10001.html">华语男歌手</a></li>
            <li><a href="https://www.sq688.com/singer/10002.html">华语女歌手</a></li>
            <li><a href="https://www.sq688.com/singer/10003.html">华语乐队</a></li>
            <li><a href="https://www.sq688.com/singer/10005.html">欧美歌手</a></li>
            <li><a href="https://www.sq688.com/singer/10006.html">日韩歌手</a></li>
            <li><a href="https://www.sq688.com/singer/10004.html">专辑合集</a></li>
            <li><a href="share.html">网友分享</a></li>
        </ul>
        <div class="users">
            <a href="login.html"><i class="fa fa-sign-in"></i> 登录</a> / <a
                href="register.html"><i class="fa fa-registered"></i> 注册</a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div id="sign" class="sign">
    <div class="join">加入我们分享更多无损音乐</div>
    <div class="warp">
        <h2>
            用户注册
        </h2>
        <div class="input">
            <div class="textfiled">
                <i class="fa fa-user ii"></i> <input v-model="name" type="text" maxlength="50" placeholder="请输入用户名称">
                <div class="msg">
                    <!---->
                </div>
            </div>
            <div class="textfiled">
                <i class="fa fa-lock ii"></i> <input v-model="pwd" type="password" maxlength="25" placeholder="请输入用户密码">
                <div class="msg">
                    <!---->
                </div>
            </div>
            <div class="textfiled">
                <i class="fa fa-tag ii"></i> <input v-model="email" type="email" maxlength="30" placeholder="请输入邮箱">
                <div class="msg">
                    <!---->
                </div>
                <button class="btn-save" @click="v_code">获取验证码</button>
                <div class="msg">
                    <!---->
                </div>
                <i class="fa fa-tag ii"></i><input type="text" v-model="vcode" maxlength="30" placeholder="请输入验证码">
                <div class="msg">
                    <!---->
                </div>
            </div>
            <div class="textfiled">
                <button @click="register">注册</button>
                <a href="login.html" class="login">用户登录</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    const vue = new Vue({
        el: '#sign',
        data: {
            name: "",
            pwd: "",
            email: "",
            vcode: ""
        },
        methods: {
            v_code() {
                let url = "user.do?op=setVcode";
                axios.get(url, {
                    params: {
                        email: this.email,
                        name: this.name,
                    }
                }).then((res) => {
                    alertMy(res.data)
                })
            },
            register() {
                let url = "user.do?op=register";
                axios.get(url, {
                    params: {
                        name: this.name,
                        pwd: this.pwd,
                        email: this.email,
                        vcode1: this.vcode
                    }
                }).then((res) => {
                    alertLayer(res.data, "login.html");
                })
            }
        }
    });
</script>

<div class="footer">
    <div class="warp">
        Copyright 2015-2020 超高无损音乐<a href="https://beian.miit.gov.cn/#/Integrated/index">
        <span>湘ICP备2020019542号-1</span></a><br>
    </div>
</div>


</body>
</html>