<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="res/push.js"></script>
    <link rel="shortcut icon" type="image/ico" href="https://www.sq688.com/favicon.ico">
    <meta name="applicable-device" content="pc">
    <meta name="mobile-agent" content="format=html5;url=https://m.sq688.com/singer/10001.html">
    <link rel="alternate" media="only screen and(max-width: 800px)" href="https://m.sq688.com/singer/10001.html">
    <title>华语男歌手_无损音乐下载_SQ688_超高无损音乐</title>
    <meta name="keywords" content="华语男歌手,无损音乐下载,SQ688,超高无损音乐">
    <meta name="description" content="华语男歌手,无损音乐下载,SQ688,超高无损音乐">
    <link rel="stylesheet" type="text/css" href="res/main.css">
    <link rel="stylesheet" type="text/css" href="res/font-awesome.css">
    <script type="text/javascript" src="res/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="res/jquery.lazyload.min.js"></script>
</head>
<body>
<div id="header" class="header">
    <div class="warp">
        <div class="logo">
            <h1>超高无损音乐</h1>
        </div>

        <div class="users">
            <a href="login.html"><i class="fa fa-sign-in"></i> 登录</a> /
            <a href="register.html"><i class="fa fa-registered"></i> 注册</a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="search-bar">
        <div class="bar">
            <div class="wrp">
                <input v-model="info" type="text" id="keyword" placeholder="请输入歌曲名称或者歌手" class="kk">
                <a :href="'Search.html?info='+info" id="btn_search" class="bb">
                    <i class="fa fa-search"></i></a>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var v = new Vue({
        el: ".header",
        data: {
            info: "",
        }
    });

</script>


<div class="list-warp">


    <div class="singer_hot">
        <span>热门歌手</span>
        <div class="clear"></div>
    </div>
    <!--热门歌手-->
    <ul class="list">
        <li v-for="s in list"><a :href="'detail.html#'+s.name">
            <img :src="s.head.substring(1,s.head.length)"
                 class="lazy" style="display: inline;">
            <h5>{{s.name}}</h5> <span><i class="fa fa-music"></i> {{s.total}} </span>
        </a></li>

    </ul>
    <div class="clear"></div>


    <div class="singer_hot">
        <span>最新收录</span>
        <div class="clear"></div>
    </div>
    <!--列表-->
    <ul class="list">
        <li v-for="m in listzuixin">
            <a :href="'detail.html#'+m.name">
                <img :src="s.head.substring(1,s.head.length)" class="lazy">
                <h5>{{m.name}}</h5> <span><i class="fa fa-music"></i> {{m.total}} </span>
            </a></li>

    </ul>


    <!--分页-->
    <div class="ipage">
        <div class="pagewarp">
            <a :href="'singer.html?page='+ 1+'#'+list[0].category">首页</a>
            <a :href=" 'singer.html?page='+(ipage-1)+'#'+list[0].category">上页</a>
            <a :href=" 'singer.html?page='+ (i+1)+'#'+list[0].category"
               v-for="(sss,i) in page"
               :style="{ border:(i+1)== ipage?'3px solid #000':''}">{{i + 1}}</a>
            <a :href=" 'singer.html?page='+(ipage+1)+'#'+list[0].category">下页</a>
            <a :href=" 'singer.html?page='+page +'#'+list[0].category">末页</a>

        </div>
    </div>
    <div class="clear"></div>
</div>

<script type="text/javascript">
    var v = new Vue({
        el: ".list-warp",
        data: {
            list: [],
            listzuixin: [],
            page: 1,
            ipage: 1,
            py: "",

        },
        created() {
            var search = location.search; // ?page=1;
            // repalce  split
            var items = search.split(new RegExp("="));
            var page = items[1];
            this.ipage = parseInt(page);

            axios.get("xuanran.s?op=querysinger&category=" + location.hash.substring(1) + "&page=" + page)
                .then(res => {
                    this.list = res.data;
                });
            axios.get("xuanran.s?op=querysingerzuixin&category=" + location.hash.substring(1))
                .then(res => {
                    this.listzuixin = res.data;

                });
            axios.get("xuanran.s?op=querycnt&category=" + location.hash.substring(1)).then(res => {
                this.page = parseInt(res.data / 12);
                if (res.data % 12 > 0) {
                    this.page++;
                }
                //location.href="index.html?page="+this.page;
            });
        }

    });


</script>
<script type="text/javascript">
    $('img.lazy').lazyload();
</script>

<div class="footer">
    <div class="warp">
        Copyright 2015-2018 SQ688.com 超高无损音乐<br>本站所有数据均系网友搜集自互联网后分享,本站服务器不存储任何音乐文件,也无意侵犯您的版权,如若任何人声称是任何音乐的版权所有人,请联系sqshangwu@gmail.com,本站会尽快删除,<br>郑重声明本站旨在无损音乐交流分享,不与任何淘宝店铺或机构合作参与任何形式的获利行为,敬请网友注意谨防受骗!
        <br> 桂ICP备13001859号-4
        <script type="text/javascript" src="res/z_stat.php"></script>
        <script src="res/core.php" charset="utf-8" type="text/javascript"></script>
        <a href="https://www.cnzz.com/stat/website.php?web_id=1277751974" target="_blank" title="站长统计">站长统计</a> <br>
        本站唯一QQ群(892306409)欢迎各大音乐爱好者加入 <a target="_blank"
                                         href="https://shang.qq.com/wpa/qunwpa?idkey=40edf9935a8deb7a8eeb6e93853111156fb280203fb799c7d11471aea22304fb">
        <img border="0" src="res/group.png" alt="超高无损音乐|SQ688" title="超高无损音乐|SQ688"></a>
    </div>
</div>

<!--页面脚本-->
<script type="text/javascript" src="res/vue.min.js"></script>
<script type="text/javascript" src="res/jquery-1.8.3.min.js"></script>
</body>
</html>